<footer>
  <div class="footerbox">
    <p>@ 2024 Rapid Linker.at - Tool to shorten a long link</p>
    <nav id="footermenu">
      <ul>
        <li><a href="https://www.shorturl.at/">ShortURL</a></li>
        <li><a href="url-click-counter.php">URL Click Counter</a></li>
        <li><a href="unshorten-url.php">Unshorten URL</a></li>
        <li><a href="report-malicious-url.php">Report Malicious URL</a></li>
        <li><a href="terms-of-service.php">Terms of Service</a></li>
        <li><a href="privacy-policy.php">Privacy</a></li>
        <li><a href="contact.php">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% block content %} {% endblock%}
