<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/rapidlinker/css/base.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/rapidlinker/css/bootstrap.css') }}"
    />

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
    </style>

    <title>Rapid Linker</title>
  </head>

  <body>
    <header>
      <!-- <h5>Rapid Linker</h5> -->
      <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
        <!-- <a class="navbar-brand" href="#">Rapid</a> -->
        <h5>Rapid Linker</h5>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon">Log IN</span> -->
          Log In
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item activate">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item activate">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item activate">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item activate">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <!-- Login and signup will eventually be changed to get started but when get started is being clicked we would have a prompt that either says create new account or login -->
        <!-- <button class="signup btn">Sign up</button> -->
      </div>
    </header>

    <div class="page_details">
      <h1>Make URL links bling in Bits with ease</h1>
      <p>
        Use our digital link shortener to connect with your audience. Ensure
        that your URLs are sorter . Engage your audience and connect them with
        right information. <em>Build, edit and many more on Rapid Linker</em>
      </p>
    </div>

    <div class="input_activation">
      <input class="url input" type="text" placeholder="Paste URL here..." />
      <button class="click btn">Click Now!!!</button>
    </div>

    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
    </table>

    <!-- FOOTER -->
    <footer>
      <div class="footerbox">
        <p>@ 2024 Rapid Linker.at - Tool to shorten a long link</p>
        <nav id="footermenu">
          <ul>
            <li><a href="https://www.shorturl.at/">ShortURL</a></li>
            <li><a href="url-click-counter.php">URL Click Counter</a></li>
            <li><a href="unshorten-url.php">Unshorten URL</a></li>
            <li><a href="report-malicious-url.php">Report Malicious URL</a></li>
            <li><a href="terms-of-service.php">Terms of Service</a></li>
            <li><a href="privacy-policy.php">Privacy</a></li>
            <li><a href="contact.php">Contact</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
